@import "./variables";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.adj-form {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
}

.adj-matrix {
  margin-bottom: 2vh;
}

.adj-form-submit {
  margin: 1vh 0;
  height: 2em;
  width: clamp(6em, 8vw, 12em);
  text-decoration: none;
  background-color: $primary-color;
  border: rgba(0, 0, 0, 0.75) 1px solid;
  border-radius: 5px;
  color: white;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}
