.warshall {
  min-height: 64vh;
  padding: 5vh 9vw;
}

.warshall-heading {
  font-size: 57px;
  width: 800px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5vh;
  margin-right: 1vw;
}

.view {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 100;
  transition: all 0.2s;
  &:hover {
    font-size: 12.5px;
  }
}

.popup {
  border: 2px solid black;
  width: 10vw;
  right: 0;
  bottom: 0;
}
